.centered {
    text-align:center;
	display: inline-block;
    z-index: 1;
    position:absolute;
    color: white;
    font-family: Helvetica;
}

.photo {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

#squares {
    width: 21px;
    height: 21px;
}

/*#topshelf {
    display: flex;
    justify-content: center;
    flex-direction: column
}*/

#searchbar {
    width: 1200px;
    height: auto;
}

#top {
	display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f5f5f5;
    height: 315px;
    width: 1200px;
  	overflow: auto;
  	align-items: center;
}

/*#map {
    border-style: solid;
    border-color: red;
    height: 300px;
    width: 400px;
    text-align: center;
  	overflow: auto;
}*/

#photo-gallery {
    float: left;
    margin-top: -245px;
    margin-left: 302px;
	display: flex;
    height: 220px;
    width: 690px;
    flex-direction: row;
  	align-items: center;
  	justify-content: space-evenly;
}

#photo1 {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#photo2 {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#photo3 {
	position:relative;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.default {
    height: 225px;
    width: 225px;
    -webkit-transition: .2s;
}

.selected {
    height: 255px;
    width: 255px;
    -webkit-transition: .2s;
}

.shadow {
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 40px 40px rgba(0,0,0,0.6);
    border-radius:100px;

}

#sidebar {
    flex: 1 1 auto;
    height: 100%;
    background: white;
    color: white;
}

img {
	max-width:auto;
	/*max-height:100%;*/
}