.centered {
	display: inline-block;
    z-index: 100;
    position:absolute;
    color: white;
}

#top {
	display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-color: red;
    height: 400px;
    width: 1200px;
  	resize: vertical;
  	overflow: auto;
  	align-items: center;
  	justify-content: space-evenly;
}

#map {
    border-style: solid;
    border-color: red;
    height: 300px;
    width: 400px;
    text-align: center;
  	resize: vertical;
  	overflow: auto;
}

#photo-gallery {
	display: flex;
    /*border-style: solid;*/
    /*border-color: red;*/
    height: 220px;
    width: 690px;
    flex-direction: row;
  	align-items: center;
  	justify-content: space-evenly;
}

#photo1 {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#photo2 {
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#photo3 {
	position:relative;
	display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.default {
    height: 225px;
    width: 225px;
    -webkit-transition: .2s;
}

.selected {
    height: 255px;
    width: 255px;
    -webkit-transition: .2s;
}

img {
	max-width:auto;
	max-height:100%;
}
